<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink= "/contatos">
            <ion-icon name="arrow-back-outline">
            </ion-icon>
            </ion-button>
        </ion-buttons>
    
        <ion-buttons slot="end">
            <ion-button routerLink="/inicio">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>    
        </ion-buttons>

        
    
  <ion-title>Editar-contatos</ion-title>
</ion-toolbar>
</ion-header>



<ion-content>
    <ion-button routerLink= "/inicio">inicio</ion-button>

    <ion-input type="text" placeholder="Nome" [(ngModel)]="nome"></ion-input>
    <ion-input type="text" placeholder="E-mail" [(ngModel)]="email"></ion-input>
    <ion-input type="number" placeholder="Telefone" [(ngModel)]="telefone"></ion-input>

  <ion-button (click)="funcaoOk()">Ok</ion-button>
 

</ion-content>
