<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button routerLink= "/inicio">
              <ion-icon name="arrow-back-outline">
              </ion-icon>
              </ion-button>
          </ion-buttons>
      
          <ion-buttons slot="end">
              <ion-button routerLink="/editar-tarefas">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>    
          </ion-buttons>
      
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
