<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink= "/inicio">
            <ion-icon name="arrow-back-outline">
            </ion-icon>
            </ion-button>
        </ion-buttons>
    
        <ion-buttons slot="end">
            <ion-button routerLink="/editar-contato">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>    
        </ion-buttons>
    
  <ion-title>Contatos</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink= "/inicio">inicio</ion-button>

</ion-content>
