<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink= "/tarefas">
            <ion-icon name="arrow-back-outline">
            </ion-icon>
            </ion-button>
        </ion-buttons>
    
        <ion-buttons slot="end">
            <ion-button routerLink="/inicio">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>    
        </ion-buttons>
    <ion-title>Edita-Tarefas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-button routerLink= "/inicio">inicio</ion-button>



    <ion-input type="text" placeholder="nome" [(ngModel)]="nome"></ion-input>
    
    <ion-textarea placeholder="Descrição" [(ngModel)]="descricao"></ion-textarea>
    

  <ion-button (click)="processar()">Ok</ion-button>

</ion-content>
